{{!-- <main class="p-5">
    <h1>Hello<i class="bi bi-emoji-smile-fill"></i></h1>
    <button class="btn btn-warning">
        <i class="bi bi-sd-card"></i><i class="fa-solid fa-brain"></i>
    </button>
    <div>
        <i class="fa-solid fa-brain" style="color:deeppink"></i>
    </div>
    <div>
        <img src="/svg/slack.svg">

</main> --}}


<main class="m-5">
    <h1>Hello World</h1>
    {{!-- це через тег style --}}
    {{> title data="My title"}}


    <h1 style="color: black; background: yellow;">This is text </h1>
</main>