<main>
    <h1 class="text-center text-uppercase">Hello World</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">3 title one two</h3>


    <hr>


    <div class="display-1 text-muted">Hello World</div>
    <div class="display-5">Second</div>
    <div class="display-6">3 title</div>

    <hr>
    <div class="text-end text-muted">
        Додатковий <span class="display-6">текст</span>
    </div>

    <hr>

    <a href="#" class="btn btn-primary">
        Button primary
    </a>

    <hr>

    <div class="text-dark">My text</div>
    <div class="">My text</div>
    <div class="text-muted">My text</div>



    <hr>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-secondary">Додати</button>
            <button class="btn btn-outline-secondary">Редагувати</button>
            <button class="btn btn-outline-danger">Видалити</button>
            <button class="btn btn-outline-success">Видалити</button>
            <button class="btn btn-outline-warning">Видалити</button>
            <button class="btn btn-outline-info">Видалити</button>
            <button class="btn btn-outline-light">Видалити</button>
            <button class="btn btn-outline-dark">Видалити</button>
        </div>
    </div>



    <hr>

    <button class="btn btn-secondary btn-lg">Видалити</button>
    <button class="btn btn-outline-danger  ">Видалити</button>
    <button class="btn btn-outline-danger btn-sm">Видалити</button>

    <hr>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>

</main>