<main>
    <div class="card">
        <img class="card-img-top" src="https://picsum.photos/600/300" alt="product photo">
        <div class="card-body">
            <h5 class="card-title">Product #34534</h5>
            <p>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</p>
            <a href="/summary" class="btn btn-primary">Open</a>
        </div>
    </div>

    <br>
    <br>


    <div class="card">

        <div class="card-body">
            <h6 class="card-title">Menu</h6>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <a class="#" class="btn btn-link">Home page</a>
            </li>
            <li class="list-group-item">
                <a class="#" class="btn btn-link">Summary page</a>
            </li>
            <li class="list-group-item">
                <a class="#" class="btn btn-link">Skills page</a>
            </li>
        </ul>
    </div>
</main>