html {
  max-width: 720px;
}

/* 
body {
=======

/* body {
>>>>>>> d70bc2931e82207b844454b61ede2a445333d197
  margin: 32px;
  background: #fff;
}

main,
header,
footer,
nav {
  margin: 32px;
}

section {
  padding: 16px;
} */
